li {
  list-style-type: circle;
}

.post-content {
  p, li {
    font-size: 1.3em;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    // content: open-quote;
  }
  blockquote p {
    display: inline;
  }
}
.comments{
  .time-ago{
    display: inline;
    font-size: .8em;
    font-style: italic;
  }
}
.comment-form {
  width: 40%;
  input[type=submit]{
    width: auto;
  }
}
